.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
    .profile {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid gray;
      width: 30px;
      height: 30px;
      padding: 2px;
      border-radius: 50%;
      font-size: 30px;
      font-weight: 600;
    }
  }
}
